html,
body {
  background-color: #fbfaf1;
  font-family: "Vollkorn", serif;
}

@font-face {
  font-family: "Vollkorn", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

h1 {
    font-weight: 500;
    font-style: italic;
}

h1 .larger-number {
    font-size: larger;
}

h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

p {
  margin-bottom: 1em;
}

.stars {
  text-align: center;
  margin: 2em 0;
}

.highlight {
color: #D35C15;
}
